<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>NapaStrong: Request Items</title>
    {% load staticfiles %}

 <!-- <link rel="stylesheet" href="{% static 'WWCapp/css/requestdonations.css' %}" media="screen" title="no title"  charset="utf-8"> -->

  </head>

  <body>
  	<h1>Request specific items</h1>
  	<a href="/viewdonations" class="button">View items available</a>

  	<form>
  		Item:<br>
  		<input type="text" name="item"><br>
  		Category:<br>
  		<input type="radio" name="category" value="food" checked>Food<br>
  		<input type="radio" name="category" value="housing">Housing<br>
  		<input type="radio" name="category" value="clothing">Clothing<br>
  		<input type="radio" name="category" value="hygiene">Hygiene<br>
  		<input type="radio" name="category" value="electronics">Electronics<br>
  		<input type="radio" name="category" value="home">Furniture / Home goods<br>
  		<input type="radio" name="category" value="other">Other<br>

  		<input type="submit" value="Submit">
	</form>

  </body>