<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Donor Page</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'WWCapp/css/donor.css' %}" media="screen" title="no title"  charset="utf-8">

  </head>
  <body>
<div class="donor">
    <div class="donorheading">
      <h2>Hello {{user}}, Thank You for Donating!</h2>
    </div>
    <a href="/donateitems"><h2>Donate Items</h2></a>
    <div class="sidebar">
      <h3>Categories</h3>
      <ul>
        <li>Room Availability</li>
        <li>Electronics</li>
        <li>Furnitures</li>
        <li>Room Availability</li>
      </ul>
    </div>
    <div class="requests">
      <table>
        <h2>Victim's Requests</h2>
        <tr>
          <th>Item Name</th>
          <th>Category</th>
          <th>Status</th>
        </tr>
      {% for req in items %}
        <tr>
          <td>{{req.0}}</td>
          <td>{{req.1}}</td>
          <td>{{req.2}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="requests">
      <table>
        <h2>Your Donations</h2>
        <tr>
          <th>Item Name</th>
          <th>Category</th>
          <th>Status</th>
        </tr>
      {% for req in items %}
        <tr>
          <td>{{req.0}}</td>
          <td>{{req.1}}</td>
          <td>{{req.2}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>
  </body>
</html>
