<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>NapaStrong: View Donations</title>
    <style>
		img { 
    	width:70%; 
		}
</style>
    {% load staticfiles %}

 <link rel="stylesheet" href="{% static 'WWCapp/css/viewdonations.css' %}" media="screen" title="no title"  charset="utf-8"> 

  </head>

  <body>
  	<div class="main">
  		<img src="/static/WWCapp/images/viewDonations.jpg" alt="View Donations" align="middle">	
  		<div style="text-align: center;">
			<a href="/requestitems" class="button">Request Items</a>		
		</div>
		<table style="width:60%">
  			<tr>
    			<th>Item</th>
    			<th>Category</th> 
    			<th>Status</th>
  			</tr>
  			<tr>
    			<td>Size 12 girls clothing</td>
    			<td>Clothes</td> 
    			<td>Available</td>
  			</tr>
 			<tr>
    			<td>Dining table</td>
    			<td>Furniture</td> 
    			<td>Claimed</td>
  			</tr>
		</table>
  	</div>

  </body>